/*
	CSS style for Medalla BAC Calculator
	By Arturo Santago-Rivera - Nov 22, 2016
*/

nav.navbar.navbar-default {
		background: #9B0C0C;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

img {
    width: 54px;
    float: left;
    padding: 5px 0;
    margin: 0;
}

p.navbar-text {
    font-size: 20px;
    margin: 18px;
}

p.navbar-text.navbar-right {
    margin-right: 0px;
}

div#display {
    background-color: #333333;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

div#display input {
    background-color: #333333;
    border: 0;
    width: 100%;
    margin-top: 2px;
    font-size: 70px;
    color: #ffffff;
    text-align: right;
    height: 100px;
}

#separator {
    background-color: #9B9B9B;
    color: #ffffff;
}

#separator p {
    font-size: 12px;
    margin: 5px 0;
}

.text-panel {
    background-color: #F6A623;
}

.input-panel {
    background-color: #D9D9D9;
}

.text-panel p, .input-panel p {
    margin: 0;
    text-align: center;
    padding: 15px 0;
    color: #ffffff;
		font-size: 16px;
}

main .main-box {
    box-shadow: 0 0 25px #999999;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

div #last-text-panel {
    border-bottom-left-radius: 25px;
}

div #last-input-panel {
    border-bottom-right-radius: 25px;
}

.form-control {
    margin: 9px 0;
    text-align: center;
    font-size: 18px;
    height: 34px;
}

input.btn.btn-default {
    background-color: #995bbe;
    color: #ffffff;
}

#calculate-btn {
    text-align: center;
}

#note > p {
    margin: 25px 0px;
    text-align: center;
    color: red;
}
